@model Ccps2022.Models.ErrorViewModel

@{
    ViewData["Title"] = "TestPage";
}

<h1>TestPage</h1>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's Information about your work.</p>